# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Auto clock in

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 1,2 * * *'
  workflow_dispatch:
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipreqs
        pipreqs .
        pip install -r requirements.txt
    - name: 'signin'
      env:
        AREA: ${{ secrets.AREA }}
        USERs: ${{ secrets.USERs }}
        SERVER_KEY: ${{ secrets.SERVER_KEY }}
      run: python auto.py
